<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kardia.membership">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AndroidApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name=".core.navigation.RouteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.SplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.IntroduceManagementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.CreatePasscodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.NewPasswordSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.SelectAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.ReceiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.BuyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.TopUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.activities.ProfileActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>